include ../mixins/content_header.pug
include ../mixins/content_tabs.pug
include ../mixins/editable-widget-info.pug
include ../mixins/editable-widget-device.pug
include ../mixins/widget-panel/index.pug

doctype html
html
  head
    title="Виджеты редактирование виджета"
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    
  body
    div(class="page")
      div(class="page-layout__menu")
        include ../components/menu

      div(class="page-layout")
        include ../components/header
        div(class="page-layout__content")
          div(class="content")
            +header('Виджеты')
            section(class="content__tabs")
              +content-tabs(['Зал',
                            'Потребление ресурсов',
                            'Уличное освещение',
                            { text: 'Детская', class:'content-tabs__tab content-tabs__tab--active'},
                            'Домашнее освещение',
                            'Кухня',
                            'Ванная',
                            'Камеры',
                            'Спальня'])
            div(class="content__editable-widget")
              div(class="editable-widget-layout")
                div(class="editable-widget-layout__category")
                  h3(class="editable-widget-layout__category-label") Информация
                  section(class="editable-widget-layout__category-content")
                    +editable-widget-info(require("assets/img/blob.png"), "Влажность", "34", "%")
                    +editable-widget-info(require("assets/img/thermometer.png"), "Температура", "21", '℃', "editable-widget-info__unit editable-widget-info__unit--thermometer")
                    +editable-widget-info(require("assets/img/lightning.png"), "Расход", "12", "кВт / ч")
                div(class="editable-widget-layout__category")
                  h3(class="editable-widget-layout__category-label") Устройства
                  section(class="editable-widget-layout__category-content")
                    +editable-widget-device(require("assets/img/night_light.png"), "Ночник")
                    +editable-widget-device(require("assets/img/heater.png"), "Нагреватель", "slider")
                    +editable-widget-device(require("assets/img/camera.png"), "Камера", "camera")
                    +editable-widget-device(require("assets/img/rosette.png"), "Розетка")
                    
                    

          div(class="page-layout__panel")
            +widget-panel(true)
          
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
      script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")

 
//div(class="editable-widget-layout__category")
