include ../../mixins/content_tabs.pug

div(class="edit-profile-panel")
    +content-tabs([{ text: "Администратор", class:"content-tabs__tab content-tabs__tab--active"},
                     "Пользователи"])
    include ./users-list