ul.list  
    li.list__item
        div(class="list-item list-item--parent")
            div.list-item__label Супер администартор
            img(class="list-item__img" src=require("assets/img/trash.png"))
    li.list__item
        div(class="list-item list-item--parent")
            div.list-item__label Администартор 1
            img(class="list-item__img" src=require("assets/img/trash.png"))
    li.list__item
        div(class="list-item list-item--parent")
            div.list-item__label Администартор 2
            img(class="list-item__img" src=require("assets/img/trash.png"))
            