.edit-profile-panel {

    @import '../edit-device-panel/list';

    .content-tabs {
        margin: 0;
    }
    .list {
        &__item {}
        .list-item {
            padding: 0 5px;
            
            &--parent {
                justify-content: space-between;
                
            }
          
        }
    }
}