.content {
    width: 100%;
    //height: 100%;
    padding: 40px 50px;
    //flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__header {
        color: white;
        h3 {
            font-weight: normal;
            font-size: 24px;
            margin: 0;
        }
    }
    &__tabs {
        margin-top: 20px;
    }
    &__editable-widget {
        margin-top: 40px;
        width: 100%;
        height: 100%;
        //width: 670px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__editing-scripts {
        width: 100%;
        height: 100%;
    }
    &__grouping-devices {
        display: flex;
        margin-top: 40px;
        flex: 1 1 auto;
    }
    &__room {
        margin-top: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__edit-side-panel {
      display: flex;
    }

    &--without-padding-buttom {
      padding-bottom: 0;

    }
}
