.form {
    &__header {}
    &__content {}
    &__group {
        position: relative;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__input {
        color: white;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
        background-color: transparent;
        height: 30px;
        padding: 0;
        display: block;
        border: none;
        border-bottom: 1px solid #4f80c6;
        &:focus {
            outline: none;
        }
        &:focus~label,
        &:valid~label {
            bottom: 30px;
            font-size: 13px;
            color: #909095;
        }
    }

    &__inline-groups {
        display: flex;
    }
    &__label {
        color: #909095;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        bottom: 6px;
        transition: 0.2s ease all;
    }
    &__footer {}
    hr {
        background: #272832;
    }

     
}