include ../mixins/content_header.pug
include ../mixins/content_tabs.pug
include ../mixins/device-informer.pug 
include ../mixins/widget-panel/index.pug

doctype html
html
  head
    title="Виджеты редактирование виджета"
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    
  body
    div(class="page")
      div(class="page-layout__menu")
        include ../components/menu

      div(class="page-layout")
        include ../components/header
        div(class="page-layout__content")
          div(class="content")
            +header('Дом')
            section(class="content__tabs")
              +content-tabs([
                            'Подвал',
                            { text: 'Первый этаж', class:'content-tabs__tab content-tabs__tab--active'},
                            'Второй этаж',
                            'Третий этаж'])
            div(class="content__room")
              div(class="room-layout")
                div(class="room-layout__map")
                  img(src=require("assets/img/home-plan.png"))
                  +device-informer("device-informer--bettery", require("assets/img/camera.png"))
                  +device-informer("device-informer--conditioner1", require("assets/img/conditioner.png"))
                  +device-informer("device-informer--night-light1", require("assets/img/night_light.png"))
                    

          div(class="page-layout__panel")
            +widget-panel(false)
          
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js") 
      script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")

 
//div(class="editable-widget-layout__category")
