include ../mixins/editing-script.pug
include ../mixins/content_header.pug
include ../mixins/widget-panel/index.pug
doctype html
html
  head
    title="Боковая панель"
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

  body
    div(class="page")
      div(class="page-layout__menu")
        include ../components/menu

      div(class="page-layout")
        include ../components/header
        div(class="page-layout__content")
          div(class="content content--without-padding-buttom")
            +header('Боковая панель')
            div(class="content__edit-side-panel")
              div(class="edit-side-panel-layout")
                div(class="edit-side-panel-layout__content")
                  div(class="edit-panel-content")
                    +widget-panel(true)
                div(class="edit-side-panel-layout__text")
                  p Перетащите желаемые блоки с информацией на панель.
                  p
                    | Дляразмещения обектов.
                    | в желаемом порядке просто.
                    | перетаскивайте их внутри панели.
                    | на нужное место.
               



          div(class="page-layout__panel")
            include ../panels/editing-scripts-panel/index

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
      script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")
