.bind {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
        align-items: center;
    &__text {
        margin-right: 10px;
        color: #2781ca;
        font-size: 13px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }
    &__icon {
        margin-right: 25px;
    }

    &--lock { 
    }
}