include ../mixins/content_header.pug
include ../mixins/content_tabs.pug
include ../mixins/editable-widget-info.pug
include ../mixins/editable-widget-device.pug

doctype html
html
  head
    title="Редактирование профиля"
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    
  body
    div(class="page")
      div(class="page-layout__menu")
        include ../components/menu

      div(class="page-layout")
        include ../components/header
        div(class="page-layout__content")
          div(class="content")
            +header('Редактирование профиля')
            div(class="content__edit-profile")
              div(class="edit-profile")
                div(class="edit-profile__avatar-section")
                  div(class="avatar-section")
                    img(class="avatar-section__img" src="http://placehold.it/170x170")
                    button(class="avatar-section__upload-btn btn") Загрузить
                    span(class="avatar-section__user-id") ID 984532
                div(class="edit-profile__personal-data")
                  div(class="personal-data")
                    div(class="form")
                      div(class="form__header")
                        div(class="form__header-label") Личные данные
                        img(class="form__header-img", src=require("assets/img/man_contour.png"))
                      div(class="form__content")
                        div(class="form__group")
                          input(type="text", class="form__input", required, value="Сергей")
                          label(class="form__label") Имя
                        div(class="form__group")
                          input(type="text", class="form__input", required, value="Петрович")
                          label(class="form__label") Фамилия
                        div(class="form__group")
                          input(type="text", class="form__input", required, value="Иванов")
                          label(class="form__label") Отчество
                      div(class="form__footer")
                        div(class="form__role-title") Роль
                        div(class="form__role-name") Администратор

                div(class="edit-profile__security")
                  div(class="security")
                     div(class="form")
                      div(class="form__header")
                        div(class="form__header-label") Безопасность
                      div(class="form__content")
                        div(class="form__const-data")
                          span( class="form__const-data-title") Email
                          span(class="form__const-data-value") longmailname876@gmail.com
                        button(class="security__btn btn") Изменить
                        div(class="form__group")
                          input(type="password", class="form__input", required, value="password")
                          label(class="form__label") Пароль
                        button(class="security__btn btn") Изменить
                        
                    
                    
                    

          div(class="page-layout__panel")
            include ../panels/edit-profile-panel/index
          
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
      script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")

 
//div(class="editable-widget-layout__category")