include ../../mixins/content_tabs.pug

div(class="add-widget-panel")
    +content-tabs([{ text: "Редактирование", class:"content-tabs__tab content-tabs__tab--active"},
                           "Устройства",
                           "Графики", 
                           "Сценарии",
                           "Привязка",
                           "Обои"])
    include ./edit-parametrs-form
    button(class="add-widget-panel__new-widget-btn") Новый виджет