div(class="edit-parametrs-form form")
    div(class="form__header")
        h3 Редактирование параметров виджета
    hr
    div(class="form__content")
        div(class="form__group")
            input(type="text", class="form__input", required, value="Детская")
            label(class="form__label") Название
        div(class="form__inline-groups")
            div(class="form__group")
                input(type="text", class="form__input", required, value="672")
                label(class="form__label") Ширина
            div(class="form__group")
                input(type="text", class="form__input", required, value="432")
                label(class="form__label") Высота
    div(class="form__footer")
        button(class="edit-parametrs-form__btn edit-parametrs-form__save-btn ") Сохранить
        button(class="edit-parametrs-form__btn edit-parametrs-form__delete-btn") Удалить