header(class="page-layout__header")
    div(class="page-header")
        span(class="page-header__companyname") COMPANYNAME
        div(class="page-header__profile")
            div(class="page-header__cog")
                i(class="fa fa-cog")
            div(class="page-header__name") Ярослав И.
            img(class="page-header__avatar" src="http://placehold.it/25x25")
            i(class="page-header__arrow fa fa-angle-down")