ul(class="main-menu")
            li(class="main-menu__list-item")
                a(class="list-item list-item--home")
                    img(class="list-item__image" src=require("assets/img/menu/home.png"))
                    span(class="list-item__text") Home
            li(class="main-menu__list-item")
                a(class="list-item list-item--circle")
                    img(class="list-item__image" src=require("assets/img/menu/circle.png"))
                    span(class="list-item__text") Circle
            li(class="main-menu__list-item")
                a(class="list-item  list-item--boxes")
                    img(class="list-item__image" src=require("assets/img/menu/boxes.png" ))
                    span(class="list-item__text") Boxes
            li(class="main-menu__list-item")
                a(class="list-item list-item--share1")
                    img(class="list-item__image" src=require("assets/img/menu/share1.png" ))
                    span(class="list-item__text") Share1
            li(class="main-menu__list-item")
                a(class="list-item list-item--share2")
                    img(class="list-item__image" src=require("assets/img/menu/share2.png" ))
                    span(class="list-item__text") Share2
            li(class="main-menu__list-item")
                a(class="list-item list-item--boxes2")
                    img(class="list-item__image" src=require("assets/img/menu/boxes2.png" ))
                    span(class="list-item__text") Boxes2