.login-form {
    width: 320px;
    height: 420px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header-label {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 35px;
    }
    &__input-container {
        width: 100%;
        height: 104px;
        display: flex;
        flex-direction: column;
    }
    &__input {
        opacity: 0.9;
        width: 100%;
        padding: 14px 16px;
        font-size: 16px;
        box-sizing: border-box;
        &:focus,
        &:active {
            outline: none;
        }
        font-family: 'Roboto Light',
        Arial,
        Helvetica,
        sans-serif;
        border: none;
        border-radius: 2px;
        background-color: #353843;
        color: white;
    }
    &__input-label {
        width: 100%;
        margin-bottom: 15px;
        font-size: 13px;
        opacity: 0.8;
    }
    &__input-footer {
        font-size: 13px;
        display: flex;
        margin-top: 14px;
    }
    &__error-message {
        color: #ff1d25;
        flex-grow: 1;
    }
    &__link {
        cursor: pointer;
        flex-grow: 1;
        text-align: end;
        &:hover {
            text-decoration: underline;
        }
    }
    &__button {
        font-family: 'Roboto Light',
        Arial,
        Helvetica,
        sans-serif;
        font-size: 14px;
        border: solid 1px transparent; 
        height: 45px;
        color: white;
        width: 180px;
        opacity: 0.9;
        background: transparent;
        transition: border 0.5s ease-out;
        border-radius: 5px;
        &:hover {
        cursor: pointer; 
           border: solid 1px #4881b2; 
        }

        margin-top:30px;

        &--last {
            margin-top:2px;
        }
    }
}

 