mixin content-tabs(tabs) 
        div(class="content-tabs")
            each tab in tabs
                if (tab.class)
                    a(class=tab.class)=tab.text
                else
                    a.content-tabs__tab=tab
                
            
