mixin device-informer(midificator, imgSrc)
    - var className = "device-informer " + midificator
    div(class=className)
        div(class="device-informer__img-container")
            img(class="device-informer__img" src=imgSrc)
        div(class="device-informer__content")
            p(class="device-informer__text") Длинное название устройства 2 строчки
            i(class="fa fa-cog")