mixin editing-script(headerText, bodyText)
    div(class="editing-script")
        div(class="form")
            div(class="form__header")
                span=headerText
            div(class="form__content")
                p=bodyText
            div(class="form__footer")
                span(class="power-state") ВКЛ
                include ../components/switcher.pug
                span(class="power-state power-state--active") ВЫКЛ
            