mixin editable-widget-device(showClose, src, label, additionalBlock, stateSrc)
    div(class="editable-widget editable-widget--device")
        if (showClose)
            include ../components/remove-button.pug
        div(class="editable-widget__device")
            div(class="editable-widget-device")
                div(class="editable-widget-device__label-content")
                    span(class="editable-widget-device__label")=label
                    img(class="editable-widget-device__label-img" src=src)
                hr
                div(class="editable-widget-device__power-state")
                    span(class="power-state") ВКЛ
                    include ../components/switcher
                    span(class="power-state power-state--active") ВЫКЛ
                case additionalBlock
                    when "slider"
                        hr
                        div(class="editable-widget-device__temperature-slider")
                         div(class="temperature-slider")
                            div(class="temperature-slider__value-container")
                                span(class="temperature-slider__value" id="temperature-slider__value") 24
                                span(class="temperature-slider__unit") ℃
                            div(class="temperature-slider__min") 0
                            div(class="temperature-slider__max") 40
                            div(class="temperature-slider__slider")
                    when "camera"
                        hr
                        div(class="editable-widget-device__camera-state")
                         div(class="camera-state")
                            div(class="camera-state__signal-container")
                                span(class="camera-state__state-name") Сигнал
                                img(class="camera-state__state-img" src=require("assets/img/connection_quality.png"))
                            div(class="camera-state__signal-container")
                                span(class="camera-state__state-name") Запись
                                img(class="camera-state__state-img" src=require("assets/img/green_circle.png"))
                
                     

        div(class="editable-widget__remove")
            div(class="remove-button") &#10006;
