mixin editable-widget-info(showClose, src, label, value, unit, unitClass="editable-widget-info__unit")
    div(class="editable-widget editable-widget--info")
        if (showClose)
          include ../components/remove-button.pug
        div(class="editable-widget__info")
            div(class="editable-widget-info")
                img(class="editable-widget-info__img" src=src)
                div(class="editable-widget-info__meta")
                    div(class="editable-widget-info__value-content")
                        span(class="editable-widget-info__value")=value
                        span(class=unitClass)=unit
                    span(class="editable-widget-info__label")=label

        div(class="editable-widget__remove")
            div(class="remove-button") &#10006;
