doctype html
html
  head
    title="Вход"
  body
    div(class="page")
      div(class="page-layout")
        include ../components/anonymous-header
        div(class="page-layout__content")
          section(class="login-layout")
            form(class="login-form")
              h3(class="login-form__header-label") Вход
              div(class="login-form__input-container")
                label(class="login-form__input-label") Email
                input(class="login-form__input" value="longemailname@gmail.com" type="email" name="email")
              div(class="login-form__input-container")
                label(class="login-form__input-label") Пароль
                input(class="login-form__input" value="qweasd" type="password" name="password")
                div(class="login-form__input-footer")
                  span(class="login-form__error-message") Пароль неверный
                  a(class="login-form__link") Восстановить пароль
              button(class="login-form__button") Войти
              button(class="login-form__button login-form__button--last") Зарегестрироваться
          