include ../mixins/content_header.pug
include ../mixins/content_tabs.pug
include ../mixins/editable-widget-info.pug
include ../mixins/editable-widget-device.pug

doctype html
html
  head
    title="Виджеты редактирование виджета"
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    
  body
    div(class="page")
      div(class="page-layout__menu")
        include ../components/menu

      div(class="page-layout")
        include ../components/header
        div(class="page-layout__content")
          div(class="content")
            +header('Виджеты')
            div(class="content__grouping-devices")
              div(class="grouping-devices")
                div.list  
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Влажность
                          div(class="settings")
                            i(class="fa fa-cog")
                      ul.list 
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Нагреватель
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Лампочка
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Розетка
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Камера
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Кондиционер
                                  i(class="fa fa-times")
                  div.list__item
                      div(class="list-item list-item--parent list-item--active")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Датчики
                          div(class="settings")
                            i(class="fa fa-cog")
                      ul.list 
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Сценарий 1
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Сценарий 2
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Сценарий 3
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Сценарий 4
                                  i(class="fa fa-times")
                          li.list__item
                              div(class="list-item list-item--child")
                                  div.list-item__label Сценарий 5
                                  i(class="fa fa-times")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Освещение
                          div(class="settings")
                            i(class="fa fa-cog")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Наименование
                          div(class="settings")
                            i(class="fa fa-cog")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Наименование
                          div(class="settings")
                            i(class="fa fa-cog")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Наименование
                          div(class="settings")
                            i(class="fa fa-cog")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Наименование
                          div(class="settings")
                            i(class="fa fa-cog")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Наименование
                          div(class="settings")
                            i(class="fa fa-cog")
                  div.list__item
                      div(class="list-item list-item--parent")
                          i(class="list-item__arrow fa fa-angle-down")
                          div.list-item__label Наименование
                          div(class="settings")
                            i(class="fa fa-cog")
                  
                          

          div(class="page-layout__panel")
            include ../panels/edit-device-panel/edit-device-panel
          
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
      script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")

 
//div(class="editable-widget-layout__category")