    .weather {
        position: relative;
        display: flex;
        flex-direction: column;
        &__weather-params {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            .weather-params {
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                &__column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 25px 0px;
                    &--label {
                        width: 90px;
                    }
                    &--values {
                        padding-bottom: 27px;
                        padding-top: 20px;
                    }
                }
                &__unit {
                    margin-left: 5px;
                }
                &__label {
                    font-size: 12px;
                }
                &__value {
                    font-size: 24px;
                }
                &__value-container {
                    font-family: 'Roboto', Arial, Helvetica, sans-serif;
                    &--red {
                        color: #dd4248;
                    }
                    &--green {
                        color: #9dc44c;
                    }
                }
            }
        }
        &__top {
            display: flex;
            height: 155px;
            border-bottom: 1px solid #262935;
        }
        &__temperature {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 0;
            width: 160px;
            justify-content: space-around;
            border-right: 1px solid #262935;
            .today {
                &__temperature-container {}
                &__unit {
                    vertical-align: super;
                    font-size: 14px;
                }
                &__value {
                    font-size: 24px;
                }
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-around;
        }
        &__date {
            display: flex;
                flex-direction: column;
                height: 80px;
                justify-content: space-around;
                align-items: center;
            .date {

                &__day {
                    font-size: 11px;
                    margin-top: 5px;
                    color: #848088;
                }
                &__temperature {
                    font-size: 12px;

                }
                &__img {
                    height: 18px;
                    width: 18px;
                    margin-bottom: 5px;
                }
            }
        }

    }
