html,
body {
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');
body {
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    color: white;
}

@import (inline) "normalize.css";
@import (less) "page-layout";
@import (less) "page-header";
@import (less) "main-menu";
@import (less) "common/content";
@import (less) "common/content-tabs";
@import (less) "fonts/index";
hr {
    height: 1px;
    border: none;
    color: #45474d;
    background: #45474d;
    margin: 0;
}

.btn {
    height: 45px;
        width: 100%;
    border-radius: 8px;
        color: white;
         font-size: 14px;
        font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    background: transparent;
    margin: 30px 8px 15px 15px;
    border: 2px solid #4e6a95;
    &:hover {
        cursor: pointer;
        background-color: #4e6a95;
    }
    transition: all .3s ease-out;
        &:focus {
            outline: none;
        }
}



.form {
        &__header {
            height: 65px;
            display: flex;
            align-items: center;
            h3 {
                font-weight: 300;
                font-size: 14px;
                margin: 15px 15px;
            }
        }
        &__content {}
        &__input {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
        &__label {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
        &__group {
            
            margin: 30px 15px 0 15px;
            height: 50px;
        }
        &__inline-groups {
            margin: 0 15px;
            &>.form__group {
                margin: 30px 8px 0 8px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__footer {
            display: flex;
        }
    }

         
        
        
       
        
        