include ../mixins/editing-script.pug
include ../mixins/content_header.pug

doctype html
html
  head
    title="Виджеты редактирование виджета"
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    
  body
    div(class="page")
      div(class="page-layout__menu")
        include ../components/menu

      div(class="page-layout")
        include ../components/header
        div(class="page-layout__content")
          div(class="content")
            +header('Сценарии')
            div(class="content__editing-scripts")
              div(class="editing-scripts-layout")
                +editing-script("Наименование сценария", "Стратификация, если рассматривать процессы в рамках частно-правовой теории, аннигилирует филогенез. ")
                +editing-script("Наименование сценария", "Дело в том, что идея правового государства откровенна.  ")
                +editing-script("Наименование сценария", "Акцентуированная личность, на первый взгляд, недоступно реквизирует бихевиор.")
                +editing-script("Наименование сценария", "Безусловно, марксизм неумеренно притягивает юридический задаток. Предсознательное гарантирует контраст.")
                +editing-script("Наименование сценария", "Безусловно, марксизм неумеренно притягивает юридический задаток. Предсознательное гарантирует контраст.")
                +editing-script("Наименование сценария", "Акцентуированная личность, на первый взгляд, недоступно реквизирует бихевиор.")
                 
                    
                    

          div(class="page-layout__panel")
            include ../panels/editing-scripts-panel/index
          
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
      script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")