.camera-state {
    display: flex;
    flex-direction: column;
    height: 100%;
        justify-content: center;
    &__signal-container {
        margin: 5px 0;
    }

    &__state-img {
        margin-left: 15px;
    }

    &__state-name {
        color: #a1a2a6;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
}