.editable-widget-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    &__meta {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin-left: -70px;
    }
    &__value-content {}
    &__label {
        font-size: 12px;
        color: #96989e;
    }
    &__value {
        font-size: 24px;
    }
    &__unit {
        font-size: 12px;
        margin-left: 5px;
        &--thermometer {
            vertical-align: super;
        }
    }
    &__img {
        margin-left: -20px;
    }
}