.editable-widget-layout {
    width: 670px;
    background: url('../../img/edit-widget-background.jpg') top right no-repeat;
    background-size: cover;
    //flex: 1;
        overflow-x: hidden;
    overflow-y: auto;
 

    &__category { 
        padding: 15px;
    }

    &__category-label {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 22px;
    }
    &__category-content {
        margin:  0 -16px;
    }
}




 

