.temperature-slider {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &__value {
        font-size: 24px;
         
    }
    &__unit {
        vertical-align: super;
    }
    &__value-container {
        color: #dd4248;
        //left: ~'calc(50% - 22px)';
        //position: absolute;
        margin-top: 10px;
    }
    &__min {
            left: 0;
        font-size: 12px;
        color: #9b9ca2;
        position: absolute;
        bottom: 35px;
    }
    &__max {
        font-size: 12px;
        color: #9b9ca2;
        position: absolute;
        bottom: 35px;
        right: 0;
    }
    &__slider {
        position: absolute;
        bottom: 27px;
        width: 140px;
    }
}