
include ../../mixins/content_tabs.pug

div(class="edit-device-panel")
    +content-tabs([ { text: "Готовые", class:"content-tabs__tab content-tabs__tab--active"},
                    "Настроить"])
    include ./scripts-list