ul.list  
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Сценарии для улицы
        ul.list 
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Нагреватель
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Лампочка
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Розетка
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Камера
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Кондиционер
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
    li.list__item
        div(class="list-item list-item--parent list-item--active")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Сценарии для дома
        ul.list 
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Сценарий 1
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Сценарий 2
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Сценарий 3
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Сценарий 4
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Сценарий 5
                    img(class="list-item__img" src=require("assets/img/some_shit.png"))
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Сценарий для улицы
            