include ../editable-widget-device.pug
include ../editable-widget-info.pug
include ./weather.pug

mixin widget-panel(showClose)
  div(class="widget-panel")
    div(class="cell cell--type-1")
      div(class="timeTime")
        if (showClose)
            include ../../components/remove-button.pug
        div(class="timeTime__time")
          span(class="time") 02:19
          i(class="fa fa-moon-o")
        div(class="timeTime__date")
          span(class="date") Понедельник, 17.01.2017
    div(class="cell cell--type-1")
      +weather(showClose)
    div(class="cell cell__several-cell-container")
      div(class="cell cell--type-3")
        div(class="devices-power-consumption")
          if (showClose)
              include ../../components/remove-button.pug
          div(class="devices-power-consumption__labels")
            span Активно устройств
            span Расход кВт / ч
          div(class="devices-power-consumption__values")
            span 9
              span / 18
            span 12
      div(class="cell cell--type-3")
        +editable-widget-device(showClose, require("assets/img/night_light.png"), "Ночник")
    div(class="cell__several-cell-container")
      div(class="cell cell--type-4")
        +editable-widget-device(showClose, require("assets/img/camera.png"), "Камера", "camera")
      div(class="cell cell--type-4-container")
        div(class="cell cell--type-5")
          +editable-widget-device(showClose, require("assets/img/night_light.png"), "Потолочное освещение")
        div(class="cell cell--type-5")
          +editable-widget-info(showClose, require("assets/img/lightning.png"), "Расход", "12", "кВт / ч")
