mixin weather(showClose)
  div(class="weather")
      if (showClose)
        include ../../components/remove-button.pug
      div(class="weather__top")
          div(class="weather__temperature")
              img(class="today__img", src=require('assets/img/weather-rain.png'))
              span(class="today__temperature-container")
                  span(class="today__value") 21
                  span(class="today__unit") ℃
          div(class="weather__weather-params")
              div(class="weather-params__column weather-params__column--label")
                  div(class="weather-params__label") Влажность
                  div(class="weather-params__label") Давление мм рт. ст.
                  div(class="weather-params__label") Ветер
              div(class="weather-params__column weather-params__column--values")
                  div(class="weather-params__value-container weather-params__value-container--red") 
                      span(class="weather-params__value") 755
                  div(class="weather-params__value-container weather-params__value-container--green")
                      span(class="weather-params__value") 14
                      span(class="weather-params__unit") %
                  div(class="weather-params__value-container")
                      span(class="weather-params__value") 12
                      span(class="weather-params__unit") м / с

      div(class="weather__bottom")
          div(class="weather__date")
              span(class="date__day") ЧТ
              div(class="date__temperature")
                  span 21
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-rain.png'))
          div(class="weather__date")
              span(class="date__day") ПТ
              div(class="date__temperature")
                  span 18
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-sun.png'))
          div(class="weather__date")
              span(class="date__day") СБ  
              div(class="date__temperature")
                  span 19
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-rain.png'))
          div(class="weather__date")
              span(class="date__day") ВС
              div(class="date__temperature")
                  span 21
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-sun.png'))
          div(class="weather__date")
              span(class="date__day") ПН
              div(class="date__temperature")
                  span 23
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-sun.png'))
          div(class="weather__date")
              span(class="date__day") ВТ
              div(class="date__temperature")
                  span 25
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-rain.png'))
          div(class="weather__date")
              span(class="date__day") СР
              div(class="date__temperature")
                  span 22
                  span.unit ℃
              img(class="date__img", src=require('assets/img/weather-sun.png'))
