@import "../common/form";
.edit-profile {
    margin-top: 40px;
    display: flex;
    &__avatar-section {
        margin-right: 15px;
    }
    &__personal-data {
        margin-right: 15px;
    }
    &__security {
        margin-right: 15px;
    }
    .avatar-section {
        background: #3a4151;
        border-radius: 3px;
        width: 222px;
        height: 335px;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        &__img {
            margin: 25px;
            width: 170px;
            height: 170px;
            border-radius: 50%;
        }
        &__upload-btn {
            width: 170px;
            height: 50px;
            margin: 0;
        }
        &__user-id {
            color: #979aa4;
            margin: 22px 0 0;
            font-size: 13px;
            font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
        }
    }
    .form {
        &__header {
            padding: 0 20px;
            justify-content: space-between;
            height: 65px;
            border-bottom: 1px solid #2c303a;
            h3 {}
        }
        &__header-label {}
        &__header-img {}
        &__content {
            padding-bottom: 20px;
            border-bottom: 1px solid #2c303a;
        }
        &__input {}
        &__label {}
        &__group {
            margin: 20px 20px 0;
        }
        &__inline-groups {}
        &__footer {
            margin: 20px;
            display: flex;
            flex-direction: column;
        }
        &__role-title {
            font-size: 13px;
            color: #9598a2;
        }
        &__role-name {
            font-size: 13px;
        }
    }
    .personal-data {
        background: #3a4151;
        border-radius: 3px;
        width: 222px;
        height: 100%;
        .form {
            &__role-title {
                font-size: 13px;
                color: #9598a2;
            }
            &__role-name {
                font-size: 14px;
            }
        }
    }
    .security {
        background: #3a4151;
        border-radius: 3px;
        width: auto;
        height: auto;
        &__btn {
            width: 170px;
            margin: 20px 0 0 20px;
        }
        .form {
            &__const-data {
                display: flex;
                flex-direction: column;
                margin: 20px 20px 0;
            }
            &__const-data-title {
                font-size: 13px;
                color: #9598a2;
            }
            &__const-data-value {
                font-size: 14px;
            }
            &__content {
                padding-bottom: 20px;
                border: none;
            }
        }
    }
}

.content {
    overflow: auto;
}