
include ../../mixins/content_tabs.pug

div(class="edit-device-panel")
    +content-tabs([
                           "Редактирование",
                           { text: "Устройства", class:"content-tabs__tab content-tabs__tab--active"},
                           "Графики", 
                           "Сценарии",
                           "Привязка",
                           "Обои"])
    include ./floors-list