ul.list  
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Подвал
        ul.list 
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Нагреватель
                    img(class="list-item__img" src=require("assets/img/heater.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Лампочка
                    img(class="list-item__img" src=require("assets/img/night_light.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Розетка
                    img(class="list-item__img" src=require("assets/img/rosette.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Камера
                    img(class="list-item__img" src=require("assets/img/camera.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Кондиционер
                    img(class="list-item__img" src=require("assets/img/conditioner.png"))
    li.list__item
        div(class="list-item list-item--parent list-item--active")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Первый этаж
        ul.list 
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Нагреватель
                    img(class="list-item__img" src=require("assets/img/heater.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Лампочка
                    img(class="list-item__img" src=require("assets/img/night_light.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Розетка
                    img(class="list-item__img" src=require("assets/img/rosette.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Камера
                    img(class="list-item__img" src=require("assets/img/camera.png"))
            li.list__item
                div(class="list-item list-item--child")
                    div.list-item__label Кондиционер
                    img(class="list-item__img" src=require("assets/img/conditioner.png"))
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Второй этаж
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Третий этаж
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Не размещено
            