.edit-side-panel-layout {
  display: flex;

  &__content {
    @import "./edit-panel-content.less";
        display: flex;
  }

  &__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 240px;
    margin-left: 30px;
  }
}
