ul.list  
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Сценарии для улицы
            div(class="bind bind--lock")
                span(class="bind__text") Отвязять
                i(class="bind__icon fa fa-link") 
        ul.list 
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Нагреватель
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Лампочка
                    include ./cancel.svg
                    
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Розетка
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Камера
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Кондиционер
                    include ./cancel.svg
    li.list__item
        div(class="list-item list-item--parent list-item--active")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Сценарии для дома
            div(class="bind bind--lock")
                span(class="bind__text") Привязать
                i(class="bind__icon fa fa-chain-broken") 
        ul.list 
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Сценарий 1
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Сценарий 2
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Сценарий 3
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Сценарий 4
                    include ./cancel.svg
            li.list__item
                div(class="list-item list-item--child list-item--linked")
                    div.list-item__label Сценарий 5
                    include ./cancel.svg
    li.list__item
        div(class="list-item list-item--parent")
            i(class="list-item__arrow fa fa-angle-down")
            div.list-item__label Сценарий для улицы
            div(class="bind bind--lock")
                span(class="bind__text") Привязать
                i(class="bind__icon fa fa-chain-broken") 
            